# [Kaggle - TalkingData AdTracking Fraud Detection Challenge](https://www.kaggle.com/c/talkingdata-adtracking-fraud-detection)

Our task is to predict where a click on some advertising is fraudlent given a few basic attributes about the device that made the click. What sets this competition apart is the sheer scale of the dataset: **with 240 million rows**.

Looking at the evaluation page, we can see that the evaluation metric used is** ROC-AUC** (the area under a curve on a Receiver Operator Characteristic graph). In other words:

- This competition is a **binary classification** problem - i.e. our target variable is a binary attribute (Is the user making the click fraudlent or not?) and our goal is to classify users into "fraudlent" or "not fraudlent" as well as possible

- Unlike metrics such as [LogLoss](http://www.exegetic.biz/blog/2015/12/making-sense-logarithmic-loss/), the AUC score only depends on **how well you can separate the two classes**. In practice, this means that only the order of your predictions matter.

  - As a result of this, any rescaling done to your model's output probabilities will have no effect on your score. In some other competitions, adding a constant or multiplier to your predictions to rescale it to the distribution can help but that doesn't apply here.
  
If you want a more intuitive explanation of how AUC works, I recommend [this post](https://stats.stackexchange.com/questions/132777/what-does-auc-stand-for-and-what-is-it).
  
Let's dive right in by looking at the data we're given:

Due to the sheer scale of the dataset, it is most likely that this dataset won't fit in memory of most laptops. One solution to this is to use **Dask**

In [1]:
# Ignore warnings
import warnings
warnings.filterwarnings("ignore")
import pathlib
import dask.dataframe as dd
from distributed import Client, progress

In [2]:
DATA = pathlib.Path('data')

In [3]:
ls {DATA}

sample_submission.csv  test.csv  train.csv

In [4]:
train_filepath = DATA / 'train.csv'

In [5]:
client = Client(processes=False)

In [6]:
client

In [7]:
dtypes = {
        'ip':'uint32',
        'app': 'uint16',
        'device': 'uint16',
        'os': 'uint16',
        'channel': 'uint16',
        'is_attributed': 'uint8'
        }

In [8]:
train_df = dd.read_csv(train_filepath, blocksize=100e6, 
                       parse_dates=['click_time', 'attributed_time'], dtype=dtypes,
                       storage_options={'anon': True})

In [9]:
train_df.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,83230,3,1,13,379,2017-11-06 14:32:21,NaT,0
1,17357,3,1,19,379,2017-11-06 14:33:34,NaT,0
2,35810,3,1,13,379,2017-11-06 14:34:12,NaT,0
3,45745,14,1,13,478,2017-11-06 14:34:52,NaT,0
4,161007,3,1,13,379,2017-11-06 14:35:08,NaT,0

In [10]:
train_df.tail()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
925194,121312,12,1,10,340,2017-11-09 16:00:00,NaT,0
925195,46894,3,1,19,211,2017-11-09 16:00:00,NaT,0
925196,320126,1,1,13,274,2017-11-09 16:00:00,NaT,0
925197,189286,12,1,37,259,2017-11-09 16:00:00,NaT,0
925198,106485,11,1,19,137,2017-11-09 16:00:00,NaT,0

## Looking at the features

Each row of the training data contains a click record, with the following features.:

- ip: ip address of click
- app: app id for marketing
- device: device type id of user mobile phone (e.g., iphone 6 plus, iphone 7, huawei mate 7, etc.)
- os: os version id of user mobile phone
- channel: channel id of mobile ad publisher
- click_time: timestamp of click (UTC)
- attributed_time: if user download the app for after clicking an ad, this is the time of the app download
- is_attributed: the target that is to be predicted, indicating the app was downloaded

**NOTE:**

- By looking at the data samples above, you'll notice that all these variables are encoded - meaning we don't know what the actual value corresponds to - each value has instead been assigned an ID which we're given. This has likely been done because data such as IP addresses are sensitive, although it does unfortunately reduce the amount of feature engineering we can do on these.
    
- The attributed_time variable is only available in the training set - it's not immediately useful for classification but it could be used for some interesting analysis (for example, one could fill in the variable in the test set by building a model to predict it).

In [11]:
train_df.is_attributed.mean().compute()

0.002470721410998979

In [12]:
%time len(train_df)

CPU times: user 5min 55s, sys: 18.2 s, total: 6min 13s
Wall time: 4min 19s

184903890

We can see that the training set consists of **184,903,890 rows**.

In [16]:
%%time 
means = {}
weights = {}
cols = ['ip', 'app', 'device', 'os', 'channel']
for col in cols:
    means[col] = train_df.groupby(col)['is_attributed'].mean().compute()#.to_dict()
    weights[col] = train_df[col].value_counts().compute()#.to_dict()

CPU times: user 1h 1min 17s, sys: 2min 39s, total: 1h 3min 57s
Wall time: 44min 37s

In [17]:
means

{'app': app
 0      0.309421
 1      0.000212
 2      0.000262
 3      0.000303
 4      0.000040
 5      0.072598
 6      0.000083
 7      0.000670
 8      0.001842
 9      0.001144
 10     0.050549
 11     0.001555
 12     0.000109
 13     0.000167
 14     0.000250
 15     0.000214
 16     0.230298
 17     0.000640
 18     0.000503
 19     0.143450
 20     0.002176
 21     0.000133
 22     0.000245
 23     0.000019
 24     0.000491
 25     0.000047
 26     0.000467
 27     0.001720
 28     0.000082
 29     0.061275
          ...
 768    0.300000
 753    0.250000
 748    0.000000
 742    0.000000
 755    0.000000
 745    0.000000
 756    0.000000
 763    1.000000
 760    0.000000
 761    0.000000
 424    0.000000
 766    0.000000
 410    0.000000
 757    0.000000
 759    0.000000
 438    0.000000
 743    0.000000
 765    0.000000
 767    0.000000
 532    0.000000
 744    0.000000
 746    0.000000
 747    0.000000
 749    0.000000
 764    0.000000
 201    0.000000
 741    0.000000
 750    0.000000
 751    0.000000
 437    0.000000
 Name: is_attributed, Length: 706, dtype: float64, 'channel': channel
 0      0.077345
 3      0.000413
 13     0.000121
 15     0.000173
 17     0.000188
 18     0.000525
 19     0.000224
 21     0.140053
 22     0.001292
 24     0.000170
 30     0.000976
 101    0.015451
 105    0.000381
 107    0.000504
 108    0.017480
 110    0.003594
 111    0.000237
 113    0.117789
 115    0.000142
 116    0.000197
 118    0.000588
 120    0.001813
 121    0.000438
 122    0.000495
 123    0.001204
 124    0.000199
 125    0.000062
 126    0.001376
 128    0.000204
 129    0.001214
          ...
 165    0.000000
 473    0.000000
 29     0.000000
 256    0.000000
 169    0.076923
 162    0.083333
 217    0.000000
 216    0.007752
 146    0.000000
 233    0.262295
 455    0.000000
 470    0.000000
 149    0.000000
 172    0.000000
 227    0.000000
 422    0.000000
 475    0.000000
 248    0.000000
 394    0.000000
 354    0.000000
 127    0.001126
 476    0.000000
 434    0.000000
 448    0.001167
 221    0.000000
 322    0.000060
 490    0.000020
 404    0.000000
 474    0.000000
 500    0.000000
 Name: is_attributed, Length: 202, dtype: float64, 'device': device
 0       0.098525
 1       0.001758
 2       0.000274
 4       0.186807
 6       0.233670
 7       0.197398
 8       0.149325
 9       0.221194
 11      0.159669
 14      0.196864
 15      0.155689
 16      0.217010
 17      0.174107
 18      0.218481
 19      0.179949
 20      0.125554
 21      0.211786
 22      0.187500
 24      0.190647
 25      0.169653
 27      0.117021
 29      0.156863
 30      0.190998
 31      0.000000
 32      0.294118
 33      0.206108
 34      0.153846
 35      0.203846
 36      0.236926
 37      0.191710
           ...
 4204    0.000000
 4213    0.500000
 4221    0.000000
 282     0.000000
 1842    0.000000
 2151    0.000000
 2654    0.000000
 2800    0.000000
 3876    0.000000
 3900    0.000000
 3946    0.000000
 3960    0.000000
 3991    0.500000
 4010    0.000000
 4083    0.000000
 4125    0.500000
 4145    0.000000
 4176    0.000000
 4188    0.000000
 4197    0.000000
 4202    0.000000
 4207    0.000000
 1824    0.000000
 1900    0.000000
 3878    0.000000
 3914    0.000000
 4108    0.000000
 4120    0.000000
 4133    0.000000
 4142    0.000000
 Name: is_attributed, Length: 3475, dtype: float64, 'ip': ip
 9         0.001489
 10        0.002542
 20        0.000670
 25        0.004484
 27        0.001598
 31        0.002887
 32        0.004167
 36        0.000890
 39        0.003356
 45        0.000533
 52        0.001873
 59        0.001965
 60        0.002985
 61        0.000932
 63        0.001556
 81        0.000000
 83        0.002798
 85        0.001018
 88        0.000468
 92        0.000673
 95        0.000747
 113       0.008929
 117       0.000493
 120       0.001989
 122       0.000949
 126       0.002320
 127       0.002334
 133       0.001736
 147       0.001054
 150       0.001592
             ...
 359087    0.333333
 359264    1.000000
 359329    1.000000
 359653    1.000000
 360159    1.000000
 360373    1.000000
 360476    1.000000
 360879    1.000000
 361131    1.000000
 361374    0.500000
 361773    0.333333
 362054    0.500000
 362057    1.000000
 362147    0.500000
 362161    0.400000
 362203    0.166667
 362246    1.000000
 362345    0.000000
 362401    0.600000
 363000    0.100000
 363059    0.333333
 363107    1.000000
 363821    1.000000
 363824    0.500000
 363912    1.000000
 364131    1.000000
 364360    1.000000
 364553    1.000000
 364736    0.500000
 364750    1.000000
 Name: is_attributed, Length: 277396, dtype: float64, 'os': os
 0      0.104272
 1      0.001035
 2      0.000249
 3      0.000845
 4      0.009622
 5      0.000761
 6      0.001184
 7      0.025889
 8      0.001063
 9      0.000730
 10     0.001195
 11     0.004547
 12     0.000756
 13     0.001549
 14     0.001545
 15     0.000995
 16     0.001371
 17     0.001180
 18     0.001302
 19     0.001803
 20     0.001257
 21     0.165016
 22     0.001769
 23     0.000681
 24     0.126777
 25     0.001219
 26     0.001398
 27     0.003512
 28     0.001078
 29     0.188840
          ...
 902    0.000000
 914    0.000000
 924    0.000000
 929    0.000000
 384    0.000000
 869    0.000000
 916    0.000000
 925    0.000000
 937    0.000000
 939    0.000000
 954    0.000000
 500    0.000000
 501    0.000000
 897    0.000000
 932    0.000000
 951    0.000000
 568    0.000000
 870    0.000000
 881    0.000000
 888    0.000000
 905    0.000000
 911    0.000000
 921    0.000000
 944    0.000000
 883    0.000000
 915    0.000000
 936    0.000000
 949    0.000000
 893    0.000000
 910    0.000000
 Name: is_attributed, Length: 800, dtype: float64}

In [18]:
weights

{'app': 3      33911780
 12     24179003
 2      21642136
 9      16458268
 15     15958970
 18     15756587
 14     10027169
 1       5796274
 13      4329409
 8       3731948
 21      3616407
 11      3466971
 26      3126136
 23      2675259
 6       2464136
 64      1893969
 7       1764954
 20      1758934
 25      1467907
 28      1311496
 27      1296189
 24      1259100
 19       922902
 17       797335
 22       684604
 10       684043
 29       652090
 32       485426
 5        375533
 151      188490
          ...
 678           1
 679           1
 558           1
 681           1
 404           1
 653           1
 684           1
 410           1
 687           1
 608           1
 689           1
 691           1
 673           1
 671           1
 571           1
 669           1
 668           1
 667           1
 572           1
 665           1
 664           1
 578           1
 661           1
 580           1
 659           1
 582           1
 657           1
 656           1
 655           1
 626           1
 Name: app, Length: 706, dtype: int64, 'channel': 280    15065927
 245     8873025
 107     8457471
 477     7188340
 134     5924250
 259     5787004
 153     5537977
 265     5446388
 178     5271408
 121     4692438
 205     4359180
 145     3583945
 442     3574611
 459     3477150
 379     3402636
 439     2901762
 489     2711240
 128     2703163
 135     2663913
 466     2655396
 237     2632794
 480     2618441
 469     2588380
 140     2562964
 122     2526161
 219     2349454
 137     2302316
 232     2275338
 435     2192870
 101     2147174
          ...
 223         118
 225          96
 233          61
 14           22
 471          20
 458          16
 251          14
 248          14
 256          13
 169          13
 162          12
 238           9
 29            6
 473           5
 475           3
 142           2
 476           2
 165           2
 149           2
 470           1
 146           1
 434           1
 422           1
 394           1
 354           1
 227           1
 221           1
 217           1
 172           1
 500           1
 Name: channel, Length: 202, dtype: int64, 'device': 1       174330052
 2         8105054
 0         1033413
 3032       692891
 3543       266596
 3866       178274
 59          24018
 5           14379
 6           12569
 40          12351
 16          10147
 18           6742
 21           5430
 33           5337
 30           4199
 154          4011
 67           3770
 114          3585
 37           3474
 88           3262
 7            3075
 46           3001
 109          2973
 50           2770
 78           2767
 97           2537
 60           2335
 82           2287
 203          2265
 56           2247
           ...
 3278            1
 1040            1
 3279            1
 3281            1
 3285            1
 3286            1
 1032            1
 3289            1
 3290            1
 3291            1
 3297            1
 3301            1
 1019            1
 3302            1
 3303            1
 3305            1
 3309            1
 3310            1
 3311            1
 994             1
 993             1
 3313            1
 3315            1
 3316            1
 3317            1
 3318            1
 3319            1
 3321            1
 975             1
 2061            1
 Name: device, Length: 3475, dtype: int64, 'ip': 5348      1238734
 5314      1171448
 73516      770451
 73487      763854
 53454      498186
 114276     427453
 26995      401495
 95766      378693
 17149      310996
 105475     302192
 100275     276799
 43793      261970
 105560     260049
 86767      257649
 111025     247187
 137052     217614
 201182     212448
 5178       211556
 49602      200053
 5147       197994
 48282      188092
 48212      185885
 48240      182754
 48170      180609
 123994     176285
 209663     173423
 93587      171417
 84896      170166
 45745      169149
 119369     159276
            ...
 148131          1
 148134          1
 148215          1
 254103          1
 148213          1
 310971          1
 148202          1
 148200          1
 148195          1
 148194          1
 148193          1
 254088          1
 283959          1
 235754          1
 254094          1
 221440          1
 148173          1
 254095          1
 254098          1
 310984          1
 148165          1
 310986          1
 221445          1
 254100          1
 221449          1
 148150          1
 310993          1
 148143          1
 310996          1
 233017          1
 Name: ip, Length: 277396, dtype: int64, 'os': 19     44181914
 13     39782808
 17      9639776
 18      8974159
 22      7414405
 8       5278317
 10      5262422
 6       4632561
 15      4408470
 9       4370878
 25      4156096
 20      4013563
 16      3081268
 37      2905944
 3       2904808
 14      2503681
 41      2467180
 1       2215593
 12      2006410
 23      1844222
 27      1787478
 35      1687198
 32      1658075
 47      1450205
 53      1356478
 11      1354955
 28      1317819
 30      1156169
 26       881482
 31       767158
          ...
 698           1
 695           1
 694           1
 690           1
 273           1
 688           1
 295           1
 687           1
 686           1
 684           1
 683           1
 701           1
 702           1
 240           1
 712           1
 724           1
 720           1
 717           1
 249           1
 715           1
 713           1
 708           1
 270           1
 707           1
 706           1
 263           1
 264           1
 267           1
 704           1
 728           1
 Name: os, Length: 800, dtype: int64}

In [46]:
means_df = pd.DataFrame(means)
means_df.head()

        app   channel    device        ip        os
0  0.309421  0.077345  0.098525       NaN  0.104272
1  0.000212       NaN  0.001758  0.191489  0.001035
2  0.000262       NaN  0.000274       NaN  0.000249
3  0.000303  0.000413       NaN       NaN  0.000845
4  0.000040  0.085847  0.186807       NaN  0.009622

In [47]:
means_df.describe()

              app     channel       device             ip          os
count  706.000000  202.000000  3475.000000  277396.000000  800.000000
mean     0.064204    0.043271     0.149752       0.256061    0.007943
std      0.161892    0.138098     0.230485       0.351494    0.057189
min      0.000000    0.000000     0.000000       0.000000    0.000000
25%      0.000000    0.000153     0.000000       0.002200    0.000000
50%      0.000000    0.000457     0.076923       0.066667    0.000000
75%      0.008699    0.003615     0.200000       0.333333    0.000000
max      1.000000    0.952450     1.000000       1.000000    0.925237

In [51]:
means_df.to_csv('cols_means.csv', index=False)

In [64]:
weights['ip'].nunique()

10499

In [48]:
weights_df = pd.DataFrame(weights)
weights_df.head()

          app   channel       device    ip         os
0      3248.0    1642.0    1033413.0   NaN   364804.0
1   5796274.0       NaN  174330052.0  47.0  2215593.0
2  21642136.0       NaN    8105054.0   NaN   691125.0
3  33911780.0  875627.0          NaN   NaN  2904808.0
4    126275.0     862.0       1713.0   NaN   593103.0

In [52]:
weights_df.describe()

                app       channel        device            ip            os
count  7.060000e+02  2.020000e+02  3.475000e+03  2.773960e+05  8.000000e+02
mean   2.619035e+05  9.153658e+05  5.320975e+04  6.665701e+02  2.311299e+05
std    2.118369e+06  1.815411e+06  2.960519e+06  5.446831e+03  2.221556e+06
min    1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
25%    2.000000e+00  4.234500e+03  1.000000e+00  3.000000e+00  1.000000e+00
50%    2.900000e+01  1.077880e+05  4.000000e+00  1.300000e+01  3.000000e+00
75%    7.532500e+02  1.019082e+06  1.800000e+01  1.490000e+02  7.350000e+01
max    3.391178e+07  1.506593e+07  1.743301e+08  1.238734e+06  4.418191e+07

In [65]:
weights_df.to_csv('weights_df.csv', index=False)

For each of our encoded values, let's look at the number of unique values:

In [21]:
%%time 
uniques = [len(train_df[col].unique().compute()) for col in cols]

CPU times: user 30min 45s, sys: 1min 10s, total: 31min 56s
Wall time: 23min 2s

In [22]:
uniques

[277396, 706, 3475, 800, 202]

In [66]:
import pandas as pd

In [39]:
cols_df = pd.DataFrame({'cols': cols, 'unique_counts': uniques})
cols_df.head()

      cols  unique_counts
0       ip         277396
1      app            706
2   device           3475
3       os            800
4  channel            202

In [44]:
cols_df.to_csv('cols_unique_counts.csv', index=False)

In [45]:
pd.read_csv('cols_unique_counts.csv')

      cols  unique_counts
0       ip         277396
1      app            706
2   device           3475
3       os            800
4  channel            202

In [68]:
%time target = train_df.is_attributed.values.compute()

CPU times: user 5min 59s, sys: 14.1 s, total: 6min 13s
Wall time: 4min 21s

In [73]:
1 - (target == 0).mean()

0.0024707214109990216